# WordPress blog service.
blog.example.com {
        reverse_proxy wp:80
}

# phpMyAdmin service.
#pma.example.com {
        # Prevents search engines from indexing this site.
#        header X-Robots-Tag "noindex, nofollow"
#        reverse_proxy pma:80
